<h2>🙍‍♂️ Actors Sesiones</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{id}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
        </tr>
        {{/each}}
    </tbody>