<h2>🔑 Login - Prog3 Sesiones</h2>

<form action="/login" method="POST">
    <fieldset>
        <div class="row">
            <label>Nombre de Usuario:</label>
            <input type="text" name="username" value="nacho"/>
        </div>
        <div class="row">
            <label>Contraseña:</label>
            <input type="password" name="password" value=""/>
        </div>
    </fieldset>
    <input class="btn" type="submit" value="Enviar"/>
</form>