<h2>Contacto</h2>
<h3>Datos Generales</h3>
<dl>
    <dt>Dirección:</dt>
    <dd>Av. Tavella 1440</dd>
    <dt>Teléfono:</dt>
    <dd>4231400</dd>
</dl>
<h3>Correos Electrónicos</h3>
<dl>
    <dt>Extensión Universitaria:</dt>
    <dd><a href="mailto:informes.fcad@uner.edu.ar">informes.fcad@uner.edu.ar</a></dd>
    <dt>Oficina de Pasantías</dt>
    <dd><a href="mailto:pasantias.fcad@uner.edu.ar">pasantias.fcad@uner.edu.ar</a></dd>
    <dt>Oficina de Ciencia y Técnica:</dt>
    <dd><a href="mailto:oficinacyt.fcad@uner.edu.ar">oficinacyt.fcad@uner.edu.ar</a></dd>
</dl>