<h2>🏠 Inicio - Prog3 Handlebars (Método POST)</h2>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <iframe src="https://giphy.com/embed/kc6n0RKTFbDJC" width="480" height="358" frameBorder="0"></iframe>
    <p><a href="https://giphy.com/gifs/retro-car-kc6n0RKTFbDJC">via GIPHY</a></p>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat risus, pellentesque vel lorem at,
    posuere facilisis ipsum. Sed faucibus imperdiet sapien, id rutrum velit accumsan id. In hac habitasse platea
    dictumst. Quisque id felis eros. Pellentesque eget finibus massa. Mauris placerat urna eget nulla imperdiet,
    vitae lobortis mauris vehicula. Mauris sit amet mollis odio. Duis non porttitor velit. Quisque mi elit,
    tempor sagittis dignissim eu, ornare sit amet sem. Duis maximus non enim id pulvinar.
</p>
<p>
    Pellentesque vestibulum lacus rhoncus eros dapibus, ut ornare diam congue. Maecenas metus ipsum, hendrerit et
    aliquet sed, commodo ut turpis. Phasellus a quam in orci faucibus lacinia. Sed id magna vitae quam ultrices
    volutpat tempus at purus. Maecenas vehicula urna ipsum, nec vulputate quam mattis eget. Donec pretium nibh
    efficitur tellus tristique, vitae dignissim justo finibus. In hac habitasse platea dictumst. Suspendisse
    eget semper augue. Proin consectetur ipsum ullamcorper ex ultrices eleifend a vel augue. Phasellus ut tellus
    ut diam varius blandit. In eleifend mollis odio. Aenean rhoncus, dolor id porttitor molestie, magna risus
    ornare lectus, non tempor est tortor nec orci. Duis fermentum lacus a suscipit aliquet. Quisque blandit odio
    eget augue laoreet, et ultricies eros molestie.
</p>