extends layout

block content
    h2 🏠 Hola Mundo con Pug!
    img(src="img/giphy.webp", alt="Auto Giphy", style="display: block; margin: 2rem auto")
    p(style="display: block; width: 200px; margin: 2rem auto")
        a(href="https://giphy.com/gifs/retro-car-kc6n0RKTFbDJC") via GIPHY
    p Fecha y Hora del servidor: #{fechaHora}