doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type="text/css" href='/css/estilo.css')
    title Hola Mundo con Pug!
    
  body
    header
      div(class="contenedor")
        img(class="logo", src="/img/logo.png", alt="Logo Prog3")
        h1 Prog
          span(class="red") III &nbsp;
          blockquote Automóviles
        nav 
          ul
            li
              a(href="/", class="active") Inicio 
            li
              a(href="/institucional") Institucional
            li
              a(href="/contacto") Contacto
    main
      block content